<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss/wounded_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,191}}</string>
                <key>offset</key>
                <string>{39,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,149},{390,191}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{280,299}}</string>
                <key>offset</key>
                <string>{-23,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,40},{280,299}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,195},{236,337}}</string>
                <key>offset</key>
                <string>{-59,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,2},{236,337}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,628},{246,325}}</string>
                <key>offset</key>
                <string>{-63,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,14},{246,325}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,876},{250,299}}</string>
                <key>offset</key>
                <string>{-69,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,40},{250,299}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1397},{254,277}}</string>
                <key>offset</key>
                <string>{-77,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,62},{254,277}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1128},{266,267}}</string>
                <key>offset</key>
                <string>{-87,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,72},{266,267}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1457},{270,261}}</string>
                <key>offset</key>
                <string>{-91,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,78},{270,261}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1720},{272,259}}</string>
                <key>offset</key>
                <string>{-92,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,80},{272,259}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1208},{278,247}}</string>
                <key>offset</key>
                <string>{-93,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,92},{278,247}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,920},{286,223}}</string>
                <key>offset</key>
                <string>{-93,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,116},{286,223}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,628},{290,205}}</string>
                <key>offset</key>
                <string>{-91,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,134},{290,205}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1676},{294,201}}</string>
                <key>offset</key>
                <string>{-89,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,139},{294,201}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1751},{256,305}}</string>
                <key>offset</key>
                <string>{-46,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,38},{256,305}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{244,331}}</string>
                <key>offset</key>
                <string>{-42,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,13},{244,331}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{274,303}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,40},{274,303}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{320,261}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,81},{320,261}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1397},{352,219}}</string>
                <key>offset</key>
                <string>{27,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,122},{352,219}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,433},{372,193}}</string>
                <key>offset</key>
                <string>{36,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,148},{372,193}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{384,191}}</string>
                <key>offset</key>
                <string>{39,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,149},{384,191}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
            <key>boss/wounded_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,191}}</string>
                <key>offset</key>
                <string>{39,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,149},{390,191}}</string>
                <key>sourceSize</key>
                <string>{472,401}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_wounded.png</string>
            <key>size</key>
            <string>{824,2009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ae2ec224ce7c9f0c1bb6eafbb0b6d36:b97e4d951d1c71247f6901a85b6ff1e5:11405db1c6b6f9df149cd8cd3148bf13$</string>
            <key>textureFileName</key>
            <string>boss_wounded.png</string>
        </dict>
    </dict>
</plist>
