<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss/shell_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{144,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{144,142}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>boss/shell_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{144,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{144,142}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>boss/shell_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{146,146}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{146,146}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>boss/shell_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{148,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{148,146}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>boss/shell_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{146,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{146,146}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>boss/shell_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{148,148}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shell.png</string>
            <key>size</key>
            <string>{152,884}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ae2b8064c5e5c58f27619718699dc99:9f1235c636410b31bc442aaf4b7b6625:1ade76de306928d5714667284a8b7ca7$</string>
            <key>textureFileName</key>
            <string>shell.png</string>
        </dict>
    </dict>
</plist>
