<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>boss</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>bossNormalSpeed</string>
			<key>Key</key>
			<string>bossNormalSpeed</string>
			<key>DefaultValue</key>
			<string>200</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>bossHighSpeed</string>
			<key>Key</key>
			<string>bossHighSpeed</string>
			<key>DefaultValue</key>
			<string>400</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>stage1FloatGunHp</string>
			<key>Key</key>
			<string>stage1FloatGunHp</string>
			<key>DefaultValue</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>stage2FloatGunHp</string>
			<key>Key</key>
			<string>stage2FloatGunHp</string>
			<key>DefaultValue</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>stage1FloatGunCount</string>
			<key>Key</key>
			<string>stage1FloatGunCount</string>
			<key>DefaultValue</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>stage2FloatGunCount</string>
			<key>Key</key>
			<string>stage2FloatGunCount</string>
			<key>DefaultValue</key>
			<string>4</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>stage1Hp</string>
			<key>Key</key>
			<string>stage1Hp</string>
			<key>DefaultValue</key>
			<string>8</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>stage2Hp</string>
			<key>Key</key>
			<string>stage2Hp</string>
			<key>DefaultValue</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>bossHP</string>
			<key>Key</key>
			<string>bossHP</string>
			<key>DefaultValue</key>
			<string>10</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Role</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>dartSpeedMul</string>
			<key>Key</key>
			<string>dartSpeedMul</string>
			<key>DefaultValue</key>
			<string>6</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>maxDartCount</string>
			<key>Key</key>
			<string>maxDartCount</string>
			<key>DefaultValue</key>
			<string>10</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>dartRecoveryCD(s)</string>
			<key>Key</key>
			<string>dartRecoveryCDMul</string>
			<key>DefaultValue</key>
			<string>0.2</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>roleHp</string>
			<key>Key</key>
			<string>roleHp</string>
			<key>DefaultValue</key>
			<string>10</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>littleBossHp</string>
			<key>Key</key>
			<string>littleBossHp</string>
			<key>DefaultValue</key>
			<string>10</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
