<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ayblade7.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,646},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>bblade6.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,688},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>bblade7.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,256},{62,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,53}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>bstx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,176},{121,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{121,158}}</string>
                <key>sourceSize</key>
                <string>{179,174}</string>
            </dict>
            <key>bstx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,162},{157,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,19},{157,136}}</string>
                <key>sourceSize</key>
                <string>{179,174}</string>
            </dict>
            <key>bstx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,336},{131,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,54},{131,66}}</string>
                <key>sourceSize</key>
                <string>{179,174}</string>
            </dict>
            <key>bstx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,881},{117,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{117,138}}</string>
                <key>sourceSize</key>
                <string>{179,174}</string>
            </dict>
            <key>bstx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,470},{171,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{171,174}}</string>
                <key>sourceSize</key>
                <string>{179,174}</string>
            </dict>
            <key>bstx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,700},{179,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,174}}</string>
                <key>sourceSize</key>
                <string>{179,174}</string>
            </dict>
            <key>bstx7.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{171,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{171,172}}</string>
                <key>sourceSize</key>
                <string>{179,174}</string>
            </dict>
            <key>bstx8.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,256},{53,48}}</string>
                <key>offset</key>
                <string>{-63,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,48}}</string>
                <key>sourceSize</key>
                <string>{179,174}</string>
            </dict>
            <key>criticaltx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{209,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,232}}</string>
                <key>sourceSize</key>
                <string>{209,232}</string>
            </dict>
            <key>criticaltx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,232}}</string>
                <key>sourceSize</key>
                <string>{209,232}</string>
            </dict>
            <key>ctctx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,470},{16,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{16,206}}</string>
                <key>sourceSize</key>
                <string>{16,230}</string>
            </dict>
            <key>ctctx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{10,230}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,230}}</string>
                <key>sourceSize</key>
                <string>{16,230}</string>
            </dict>
            <key>fbb.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,547},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>fbb_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,470},{20,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,176}}</string>
                <key>sourceSize</key>
                <string>{20,180}</string>
            </dict>
            <key>fbb_tx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,646},{52,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,26},{52,53}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>fbb_tx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,795},{72,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{72,69}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>fbb_tx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{98,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{98,95}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>fbb_tx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,433},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>fbb_tx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,470},{14,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{14,200}}</string>
                <key>sourceSize</key>
                <string>{20,200}</string>
            </dict>
            <key>fbb_tx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,700},{20,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,180}}</string>
                <key>sourceSize</key>
                <string>{20,200}</string>
            </dict>
            <key>fbbf.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,761},{32,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{32,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>fbbf_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,646},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>fbch.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,515},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>fbch_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,176},{24,166}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,166}}</string>
                <key>sourceSize</key>
                <string>{24,180}</string>
            </dict>
            <key>fbch_tx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,470},{14,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{14,200}}</string>
                <key>sourceSize</key>
                <string>{20,200}</string>
            </dict>
            <key>fbch_tx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,700},{20,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,180}}</string>
                <key>sourceSize</key>
                <string>{20,200}</string>
            </dict>
            <key>fbhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,551},{34,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>fbhd_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,470},{20,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,176}}</string>
                <key>sourceSize</key>
                <string>{20,180}</string>
            </dict>
            <key>fbhd_tx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,470},{14,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{14,200}}</string>
                <key>sourceSize</key>
                <string>{20,200}</string>
            </dict>
            <key>fbhd_tx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,700},{20,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,180}}</string>
                <key>sourceSize</key>
                <string>{20,200}</string>
            </dict>
            <key>fbhj.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,615},{30,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>fbhj_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,178},{20,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,174}}</string>
                <key>sourceSize</key>
                <string>{20,180}</string>
            </dict>
            <key>fbjg.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,344},{8,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,100}}</string>
                <key>sourceSize</key>
                <string>{8,100}</string>
            </dict>
            <key>fbl_tail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,881},{30,139}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,139}}</string>
                <key>sourceSize</key>
                <string>{30,161}</string>
            </dict>
            <key>fbl_tail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,876},{30,145}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,145}}</string>
                <key>sourceSize</key>
                <string>{30,161}</string>
            </dict>
            <key>fbl_tail3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{24,153}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,153}}</string>
                <key>sourceSize</key>
                <string>{30,161}</string>
            </dict>
            <key>fbl_tail4.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,176},{6,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{6,161}}</string>
                <key>sourceSize</key>
                <string>{30,161}</string>
            </dict>
            <key>fbl_tail5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,678},{8,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{8,151}}</string>
                <key>sourceSize</key>
                <string>{12,151}</string>
            </dict>
            <key>fbmc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,545},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>fbmc1_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,470},{20,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,176}}</string>
                <key>sourceSize</key>
                <string>{20,180}</string>
            </dict>
            <key>fbmc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,515},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>fbmc2_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,470},{20,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,176}}</string>
                <key>sourceSize</key>
                <string>{20,180}</string>
            </dict>
            <key>fbmc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,545},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>fbmc3_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,470},{20,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,176}}</string>
                <key>sourceSize</key>
                <string>{20,180}</string>
            </dict>
            <key>fbmc4.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,545},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>fbmc4_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,180},{20,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,176}}</string>
                <key>sourceSize</key>
                <string>{20,180}</string>
            </dict>
            <key>fbyh.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,583},{30,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>fbyh_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{20,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,176}}</string>
                <key>sourceSize</key>
                <string>{20,180}</string>
            </dict>
            <key>fbyh_tx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,646},{52,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,26},{52,53}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>fbyh_tx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,234},{72,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{72,69}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>fbyh_tx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,104},{98,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{98,95}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>fbyh_tx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,321},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>fbyh_tx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,700},{20,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,180}}</string>
                <key>sourceSize</key>
                <string>{20,200}</string>
            </dict>
            <key>fbyh_tx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,470},{14,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{14,200}}</string>
                <key>sourceSize</key>
                <string>{20,200}</string>
            </dict>
            <key>fbzk.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,761},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{32,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>fbzk_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{20,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,174}}</string>
                <key>sourceSize</key>
                <string>{20,180}</string>
            </dict>
            <key>fbzk_tail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,646},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>fbzk_tx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,470},{14,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{14,200}}</string>
                <key>sourceSize</key>
                <string>{20,200}</string>
            </dict>
            <key>fbzk_tx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,700},{20,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,180}}</string>
                <key>sourceSize</key>
                <string>{20,200}</string>
            </dict>
            <key>hd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,132},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{14,14}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>hd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,336},{6,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{6,14}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>hd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,433},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{14,14}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>hd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,336},{6,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{6,14}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>hd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,132},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{14,14}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>hd6.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,666},{6,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{6,14}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>hd7.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,336},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{14,14}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>hd8.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,666},{6,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{6,14}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>hfbtx0.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,646},{52,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,49},{52,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hfbtx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,459},{128,92}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,30},{128,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hfbtx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,321},{136,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{136,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hfbtx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,876},{142,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{142,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hfbtx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,148},{106,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,26},{106,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hfbtx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,589},{108,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,32},{108,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hw-ngbz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,358},{160,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{160,110}}</string>
                <key>sourceSize</key>
                <string>{174,142}</string>
            </dict>
            <key>hw-ngbz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,887},{166,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{166,134}}</string>
                <key>sourceSize</key>
                <string>{174,142}</string>
            </dict>
            <key>hw-ngbz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,700},{174,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,142}}</string>
                <key>sourceSize</key>
                <string>{174,142}</string>
            </dict>
            <key>hw-ngbz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{128,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{128,114}}</string>
                <key>sourceSize</key>
                <string>{174,142}</string>
            </dict>
            <key>hw-ngbz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{130,100}}</string>
                <key>sourceSize</key>
                <string>{174,142}</string>
            </dict>
            <key>lxy.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,700},{30,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,185}}</string>
                <key>sourceSize</key>
                <string>{30,185}</string>
            </dict>
            <key>pumpkinfire.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,465},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>pumpkingold.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,415},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>pumpkinsteel.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,589},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>skblade6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,688},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>tjshuriken.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,677},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>tx_fb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,176},{16,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{16,160}}</string>
                <key>sourceSize</key>
                <string>{16,180}</string>
            </dict>
            <key>tx_fb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,688},{10,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,180}}</string>
                <key>sourceSize</key>
                <string>{16,180}</string>
            </dict>
            <key>tx_hx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{158,110}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{158,110}}</string>
                <key>sourceSize</key>
                <string>{226,130}</string>
            </dict>
            <key>tx_hx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{218,130}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{218,130}}</string>
                <key>sourceSize</key>
                <string>{226,130}</string>
            </dict>
            <key>tx_hx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,470},{216,102}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,28},{216,102}}</string>
                <key>sourceSize</key>
                <string>{226,130}</string>
            </dict>
            <key>water1.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,688},{60,11}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{60,11}}</string>
                <key>sourceSize</key>
                <string>{112,35}</string>
            </dict>
            <key>water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,677},{78,21}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{78,21}}</string>
                <key>sourceSize</key>
                <string>{112,35}</string>
            </dict>
            <key>water3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,648},{88,27}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{88,27}}</string>
                <key>sourceSize</key>
                <string>{112,35}</string>
            </dict>
            <key>water4.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,699},{94,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{94,31}}</string>
                <key>sourceSize</key>
                <string>{112,35}</string>
            </dict>
            <key>water5.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,132},{100,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{100,35}}</string>
                <key>sourceSize</key>
                <string>{112,35}</string>
            </dict>
            <key>water6.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{100,31}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{112,35}</string>
            </dict>
            <key>water7.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,311},{102,29}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{102,29}}</string>
                <key>sourceSize</key>
                <string>{112,35}</string>
            </dict>
            <key>xfshuriken.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,583},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7db9e502b214edef8b41a7f26a756b41$</string>
            <key>textureFileName</key>
            <string>effect2.png</string>
        </dict>
    </dict>
</plist>
