<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,42},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,124},{103,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,39}}</string>
                <key>sourceSize</key>
                <string>{103,39}</string>
            </dict>
            <key>shop10.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,43},{137,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,38}}</string>
                <key>sourceSize</key>
                <string>{137,38}</string>
            </dict>
            <key>shop11.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,42},{203,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,39}}</string>
                <key>sourceSize</key>
                <string>{203,39}</string>
            </dict>
            <key>shop12.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,124},{103,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,38}}</string>
                <key>sourceSize</key>
                <string>{103,38}</string>
            </dict>
            <key>shop13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{169,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,39}}</string>
                <key>sourceSize</key>
                <string>{169,39}</string>
            </dict>
            <key>shop14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{201,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,39}}</string>
                <key>sourceSize</key>
                <string>{201,39}</string>
            </dict>
            <key>shop15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{189,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,39}}</string>
                <key>sourceSize</key>
                <string>{189,39}</string>
            </dict>
            <key>shop16.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,39}}</string>
                <key>sourceSize</key>
                <string>{208,39}</string>
            </dict>
            <key>shop17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,39}}</string>
                <key>sourceSize</key>
                <string>{208,39}</string>
            </dict>
            <key>shop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,83},{104,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,39}}</string>
                <key>sourceSize</key>
                <string>{104,39}</string>
            </dict>
            <key>shop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,43},{104,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,39}}</string>
                <key>sourceSize</key>
                <string>{104,39}</string>
            </dict>
            <key>shop4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,83},{135,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,39}}</string>
                <key>sourceSize</key>
                <string>{135,39}</string>
            </dict>
            <key>shop5.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>shop6.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,247},{169,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,38}}</string>
                <key>sourceSize</key>
                <string>{169,38}</string>
            </dict>
            <key>shop7.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,229},{170,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,38}}</string>
                <key>sourceSize</key>
                <string>{170,38}</string>
            </dict>
            <key>shop8.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,43},{170,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,38}}</string>
                <key>sourceSize</key>
                <string>{170,38}</string>
            </dict>
            <key>shop9.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,43},{170,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,38}}</string>
                <key>sourceSize</key>
                <string>{170,38}</string>
            </dict>
            <key>sp_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,124},{172,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,110}}</string>
                <key>sourceSize</key>
                <string>{172,110}</string>
            </dict>
            <key>sp_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,247},{172,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,110}}</string>
                <key>sourceSize</key>
                <string>{172,110}</string>
            </dict>
            <key>sp_musashi.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,247},{172,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,110}}</string>
                <key>sourceSize</key>
                <string>{172,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>items.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a1677546f7272565c16c7696e8017a1$</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
