<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aulogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,249},{193,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,173}}</string>
                <key>sourceSize</key>
                <string>{193,173}</string>
            </dict>
            <key>cocos2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{114,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,169}}</string>
                <key>sourceSize</key>
                <string>{114,169}</string>
            </dict>
            <key>ex-deaths.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,640},{107,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,40}}</string>
                <key>sourceSize</key>
                <string>{107,40}</string>
            </dict>
            <key>ex-generic.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,598},{107,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,40}}</string>
                <key>sourceSize</key>
                <string>{107,40}</string>
            </dict>
            <key>ex-killings.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,333},{102,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,40}}</string>
                <key>sourceSize</key>
                <string>{102,40}</string>
            </dict>
            <key>ex-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{848,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{848,26}}</string>
                <key>sourceSize</key>
                <string>{848,26}</string>
            </dict>
            <key>ex1.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,417},{95,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{95,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>ex2.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,375},{95,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{95,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>ex3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,653},{94,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{94,40}}</string>
                <key>sourceSize</key>
                <string>{94,50}</string>
            </dict>
            <key>ex4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,611},{94,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{94,40}}</string>
                <key>sourceSize</key>
                <string>{94,50}</string>
            </dict>
            <key>ex5.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,201},{94,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,40}}</string>
                <key>sourceSize</key>
                <string>{94,50}</string>
            </dict>
            <key>ex6.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,159},{94,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,40}}</string>
                <key>sourceSize</key>
                <string>{94,50}</string>
            </dict>
            <key>ex_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,715},{48,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,222},{48,76}}</string>
                <key>sourceSize</key>
                <string>{130,520}</string>
            </dict>
            <key>exb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,611},{400,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,150}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>exb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{400,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,150}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>exb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{400,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,150}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>exb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{400,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,150}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>exb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,209},{400,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,150}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>exb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,450},{127,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,52}}</string>
                <key>sourceSize</key>
                <string>{127,52}</string>
            </dict>
            <key>exb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,396},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>exb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,342},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>exb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,504},{125,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,51}}</string>
                <key>sourceSize</key>
                <string>{125,51}</string>
            </dict>
            <key>exb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,30},{127,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,53}}</string>
                <key>sourceSize</key>
                <string>{127,53}</string>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,865},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>mailus.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,715},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pu-cancel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,637},{175,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,69}}</string>
                <key>sourceSize</key>
                <string>{175,69}</string>
            </dict>
            <key>pu-cancel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,566},{175,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,69}}</string>
                <key>sourceSize</key>
                <string>{175,69}</string>
            </dict>
            <key>pu-confirm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,495},{175,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,69}}</string>
                <key>sourceSize</key>
                <string>{175,69}</string>
            </dict>
            <key>pu-confirm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,424},{175,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,69}}</string>
                <key>sourceSize</key>
                <string>{175,69}</string>
            </dict>
            <key>pu-tc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,30},{243,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,47}}</string>
                <key>sourceSize</key>
                <string>{243,47}</string>
            </dict>
            <key>sp-coins1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,803},{104,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,77}}</string>
                <key>sourceSize</key>
                <string>{104,77}</string>
            </dict>
            <key>sp-coins2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,909},{104,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,70}}</string>
                <key>sourceSize</key>
                <string>{104,70}</string>
            </dict>
            <key>sp-coins3.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,243},{98,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,88}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>sp-coins4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,507},{112,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,89}}</string>
                <key>sourceSize</key>
                <string>{112,89}</string>
            </dict>
            <key>sp-coins5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,695},{106,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,88}}</string>
                <key>sourceSize</key>
                <string>{106,88}</string>
            </dict>
            <key>sp-shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,300},{142,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,40}}</string>
                <key>sourceSize</key>
                <string>{142,40}</string>
            </dict>
            <key>sp-shop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,167},{155,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,40}}</string>
                <key>sourceSize</key>
                <string>{155,40}</string>
            </dict>
            <key>sp-shop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,803},{174,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,40}}</string>
                <key>sourceSize</key>
                <string>{174,40}</string>
            </dict>
            <key>sp-shop4.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,611},{174,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,40}}</string>
                <key>sourceSize</key>
                <string>{174,40}</string>
            </dict>
            <key>sp-shop5.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,207},{195,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,40}}</string>
                <key>sourceSize</key>
                <string>{195,40}</string>
            </dict>
            <key>sp-tc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{548,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,268}}</string>
                <key>sourceSize</key>
                <string>{548,268}</string>
            </dict>
            <key>sp-tc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,605},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>sp-tc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,459},{126,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,46}}</string>
                <key>sourceSize</key>
                <string>{126,46}</string>
            </dict>
            <key>sp-tc4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,557},{124,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,46}}</string>
                <key>sourceSize</key>
                <string>{124,46}</string>
            </dict>
            <key>sp-tc5.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,118},{166,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,47}}</string>
                <key>sourceSize</key>
                <string>{166,47}</string>
            </dict>
            <key>sp_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,143},{202,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,62}}</string>
                <key>sourceSize</key>
                <string>{202,62}</string>
            </dict>
            <key>sp_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,79},{202,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,62}}</string>
                <key>sourceSize</key>
                <string>{202,62}</string>
            </dict>
            <key>tweet.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,793},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>weibo.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,909},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu-extra.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0576c697a8004ef01cedad59f3714be2$</string>
            <key>textureFileName</key>
            <string>menu-extra.png</string>
        </dict>
    </dict>
</plist>
