<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>collection.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{109,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,50}}</string>
                <key>sourceSize</key>
                <string>{109,50}</string>
            </dict>
            <key>ftloading.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,504},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>go_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,204},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{46,46}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>go_facebook2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,256},{16,32}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,15},{16,32}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>go_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,204},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{46,46}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>go_twitter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,504},{20,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{20,28}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>go_weibo.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,434},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{46,46}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>go_weibo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,504},{32,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{32,26}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>pulife2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,504},{34,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{34,27}</string>
            </dict>
            <key>pushuriken2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,492},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>sc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,200}}</string>
                <key>sourceSize</key>
                <string>{960,200}</string>
            </dict>
            <key>sc_equip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{158,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{158,49}}</string>
                <key>sourceSize</key>
                <string>{158,69}</string>
            </dict>
            <key>sc_equip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{158,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{158,49}}</string>
                <key>sourceSize</key>
                <string>{158,69}</string>
            </dict>
            <key>sc_equiped.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,282},{150,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sc_equiped2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,282},{158,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{158,49}}</string>
                <key>sourceSize</key>
                <string>{158,69}</string>
            </dict>
            <key>sc_fbbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,282},{150,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sc_fbbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,533},{150,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sc_jnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,685},{150,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sc_katana1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{145,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,51}}</string>
                <key>sourceSize</key>
                <string>{145,51}</string>
            </dict>
            <key>sc_katana2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,149},{131,51}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{131,51}}</string>
                <key>sourceSize</key>
                <string>{145,51}</string>
            </dict>
            <key>sc_ktnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,838},{150,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sc_powerup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,434},{149,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,47}}</string>
                <key>sourceSize</key>
                <string>{149,47}</string>
            </dict>
            <key>sc_powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,483},{125,47}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,47}}</string>
                <key>sourceSize</key>
                <string>{149,47}</string>
            </dict>
            <key>sc_role00.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,282},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>sc_role01.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,434},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>sc_role10.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,824},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>sc_role11.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,678},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>sc_role20.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,831},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>sc_role21.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,532},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>sc_role30.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,685},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>sc_role31.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,837},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>sc_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{250,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,60}}</string>
                <key>sourceSize</key>
                <string>{250,60}</string>
            </dict>
            <key>sc_shuriken1.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,204},{147,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,43}}</string>
                <key>sourceSize</key>
                <string>{147,43}</string>
            </dict>
            <key>sc_shuriken2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,492},{129,39}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,39}}</string>
                <key>sourceSize</key>
                <string>{147,43}</string>
            </dict>
            <key>sc_sp0.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,533},{150,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sc_sp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,686},{150,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sc_sp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,846},{150,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sc_sp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,282},{150,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sc_sp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,534},{150,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sc_sp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,580},{110,110}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sc_sp6.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,692},{104,110}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sc_sp7.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,442},{60,110}}</string>
                <key>offset</key>
                <string>{45,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,0},{60,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sc_sp8.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,204},{60,40}}</string>
                <key>offset</key>
                <string>{45,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sc_special1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,442},{144,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>sc_special2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,204},{116,48}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{116,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>sc_unlock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{158,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,69}}</string>
                <key>sourceSize</key>
                <string>{158,69}</string>
            </dict>
            <key>sc_unlock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{158,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,69}}</string>
                <key>sourceSize</key>
                <string>{158,69}</string>
            </dict>
            <key>sc_use1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,282},{158,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{158,49}}</string>
                <key>sourceSize</key>
                <string>{158,69}</string>
            </dict>
            <key>sc_use2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,282},{158,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{158,49}}</string>
                <key>sourceSize</key>
                <string>{158,69}</string>
            </dict>
            <key>sc_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,694},{150,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu-collection.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d2b171c409fe33d74c58fd8c219b9f5$</string>
            <key>textureFileName</key>
            <string>menu-collection.png</string>
        </dict>
    </dict>
</plist>
