<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievements.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,748},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>achievements2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,748},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>arcade.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,644},{223,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,84}}</string>
                <key>sourceSize</key>
                <string>{223,84}</string>
            </dict>
            <key>arcade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,644},{223,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,84}}</string>
                <key>sourceSize</key>
                <string>{223,84}</string>
            </dict>
            <key>classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,644},{223,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,84}}</string>
                <key>sourceSize</key>
                <string>{223,84}</string>
            </dict>
            <key>classic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{223,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,84}}</string>
                <key>sourceSize</key>
                <string>{223,84}</string>
            </dict>
            <key>hw-bg-star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,850},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>hw-bg-star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,1005},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>index-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>index-cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,882},{300,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,72}}</string>
                <key>sourceSize</key>
                <string>{300,72}</string>
            </dict>
            <key>index-cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,973},{269,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,45}}</string>
                <key>sourceSize</key>
                <string>{269,45}</string>
            </dict>
            <key>index-collections1.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,696},{310,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,50}}</string>
                <key>sourceSize</key>
                <string>{310,50}</string>
            </dict>
            <key>index-collections2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,644},{310,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,50}}</string>
                <key>sourceSize</key>
                <string>{310,50}</string>
            </dict>
            <key>index-extra1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,827},{310,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,50}}</string>
                <key>sourceSize</key>
                <string>{310,50}</string>
            </dict>
            <key>index-extra2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,956},{310,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,50}}</string>
                <key>sourceSize</key>
                <string>{310,50}</string>
            </dict>
            <key>index-sakura0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1005},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>index-sakura1.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1005},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>index-sakura2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1005},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>index-store1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,570},{310,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,50}}</string>
                <key>sourceSize</key>
                <string>{310,50}</string>
            </dict>
            <key>index-store2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,258},{310,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,50}}</string>
                <key>sourceSize</key>
                <string>{310,50}</string>
            </dict>
            <key>index-yhl.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,882},{165,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,120}}</string>
                <key>sourceSize</key>
                <string>{165,120}</string>
            </dict>
            <key>index-yhr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{152,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,121}}</string>
                <key>sourceSize</key>
                <string>{152,121}</string>
            </dict>
            <key>leaderboard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,716},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>leaderboard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,644},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>morefun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,882},{204,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,72}}</string>
                <key>sourceSize</key>
                <string>{204,72}</string>
            </dict>
            <key>morefun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,644},{204,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,72}}</string>
                <key>sourceSize</key>
                <string>{204,72}</string>
            </dict>
            <key>objicon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,716},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>objicon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,644},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>scene-snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1005},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>setting-icloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,644},{181,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,39}}</string>
                <key>sourceSize</key>
                <string>{181,39}</string>
            </dict>
            <key>setting-music.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,882},{88,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,38}}</string>
                <key>sourceSize</key>
                <string>{88,38}</string>
            </dict>
            <key>setting-push.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,869},{152,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,39}}</string>
                <key>sourceSize</key>
                <string>{152,39}</string>
            </dict>
            <key>setting-sfx.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,882},{88,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,39}}</string>
                <key>sourceSize</key>
                <string>{88,39}</string>
            </dict>
            <key>setting-tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,882},{89,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,38}}</string>
                <key>sourceSize</key>
                <string>{89,38}</string>
            </dict>
            <key>setting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,62},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>setting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>sharecode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,190},{66,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,57}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>sharecode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,122},{66,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,57}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu-title.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a452d198159c728c42163dd5fa2b3318$</string>
            <key>textureFileName</key>
            <string>menu-title.png</string>
        </dict>
    </dict>
</plist>
