<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cj1_qj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{223,77}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{223,77}}</string>
                <key>sourceSize</key>
                <string>{241,77}</string>
            </dict>
            <key>s1_sbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,240}}</string>
                <key>sourceSize</key>
                <string>{960,240}</string>
            </dict>
            <key>tile_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,244},{120,550}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{120,550}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,244},{120,550}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{120,550}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,244},{120,550}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{120,550}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,244},{120,550}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{120,550}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,796},{120,550}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,90},{120,550}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{120,550}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{120,550}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,244},{120,530}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{120,530}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,244},{120,530}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{120,530}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8a88a4ef4e61cc4f2f14b892cc1d65a$</string>
            <key>textureFileName</key>
            <string>scene1.png</string>
        </dict>
    </dict>
</plist>
