<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cj4_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,190}}</string>
                <key>sourceSize</key>
                <string>{960,190}</string>
            </dict>
            <key>tile_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,194},{120,590}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{120,590}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,194},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,194},{120,590}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{120,590}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,194},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{120,590}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{120,590}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,194},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{120,590}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{120,590}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,194},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fa43ef68c128ed80553a79ad241a8b0$</string>
            <key>textureFileName</key>
            <string>scene7.png</string>
        </dict>
    </dict>
</plist>
