<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cj5_hj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,130}}</string>
                <key>sourceSize</key>
                <string>{960,130}</string>
            </dict>
            <key>tile_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,134},{120,586}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{120,586}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,134},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,134},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,134},{120,586}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{120,586}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene10.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5697c03194a4d1e33cfa91525a1d5b1a$</string>
            <key>textureFileName</key>
            <string>scene10.png</string>
        </dict>
    </dict>
</plist>
