<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cj5_hj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,130}}</string>
                <key>sourceSize</key>
                <string>{960,130}</string>
            </dict>
            <key>cj5_hj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{880,130}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{880,130}}</string>
                <key>sourceSize</key>
                <string>{960,130}</string>
            </dict>
            <key>cj5_qj.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,846},{480,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,61}}</string>
                <key>sourceSize</key>
                <string>{480,61}</string>
            </dict>
            <key>tile_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,134},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,134},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,134},{120,586}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{120,586}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,134},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,724},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,134},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene9.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5a2bdeb807b30a2920ce62b2d7e5cac$</string>
            <key>textureFileName</key>
            <string>scene9.png</string>
        </dict>
    </dict>
</plist>
