<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cj4_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{143,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,24}}</string>
                <key>sourceSize</key>
                <string>{143,24}</string>
            </dict>
            <key>cj4_hj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>cj4_qj.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,594},{240,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,53}}</string>
                <key>sourceSize</key>
                <string>{240,53}</string>
            </dict>
            <key>tile_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,594},{120,590}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{120,590}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,590}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{120,590}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,836},{120,590}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{120,590}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,590}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{120,590}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
            <key>tile_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,588}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{120,588}}</string>
                <key>sourceSize</key>
                <string>{120,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bea8ed41df9c6fe326ccc366e2d70dcf$</string>
            <key>textureFileName</key>
            <string>scene8.png</string>
        </dict>
    </dict>
</plist>
