<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lt_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{350,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,244}}</string>
                <key>sourceSize</key>
                <string>{350,244}</string>
            </dict>
            <key>lt_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,179},{122,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,53}}</string>
                <key>sourceSize</key>
                <string>{122,53}</string>
            </dict>
            <key>lt_buy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,55},{122,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,53}}</string>
                <key>sourceSize</key>
                <string>{122,53}</string>
            </dict>
            <key>lt_dhk.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,248},{302,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,226}}</string>
                <key>sourceSize</key>
                <string>{302,226}</string>
            </dict>
            <key>lt_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,476},{283,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,228}}</string>
                <key>sourceSize</key>
                <string>{283,228}</string>
            </dict>
            <key>lt_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,528}}</string>
                <key>sourceSize</key>
                <string>{600,528}</string>
            </dict>
            <key>lt_soldout.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,515},{78,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,36}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>lt_sp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,621},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>lt_sp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,537},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>lt_sp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{89,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>lt_sp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{51,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,66}}</string>
                <key>sourceSize</key>
                <string>{51,66}</string>
            </dict>
            <key>lt_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{260,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,77}}</string>
                <key>sourceSize</key>
                <string>{260,77}</string>
            </dict>
            <key>lt_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,712},{259,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,77}}</string>
                <key>sourceSize</key>
                <string>{259,77}</string>
            </dict>
            <key>lt_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,248},{265,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,40}}</string>
                <key>sourceSize</key>
                <string>{265,40}</string>
            </dict>
            <key>lt_text4.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,303},{232,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,40}}</string>
                <key>sourceSize</key>
                <string>{232,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-merchant.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abcbaa201131db42fa730d64c5df2ef5$</string>
            <key>textureFileName</key>
            <string>ui-merchant.png</string>
        </dict>
    </dict>
</plist>
