<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,122},{361,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,171}}</string>
                <key>sourceSize</key>
                <string>{361,171}</string>
            </dict>
            <key>js_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>js_bjz.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,721},{54,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,69}}</string>
                <key>sourceSize</key>
                <string>{54,69}</string>
            </dict>
            <key>js_bjzd.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,777},{163,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,226}}</string>
                <key>sourceSize</key>
                <string>{163,226}</string>
            </dict>
            <key>js_cashin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,62},{176,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,58}}</string>
                <key>sourceSize</key>
                <string>{176,58}</string>
            </dict>
            <key>js_cashin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{176,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,58}}</string>
                <key>sourceSize</key>
                <string>{176,58}</string>
            </dict>
            <key>js_dh.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,334},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>js_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{330,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,38}}</string>
                <key>sourceSize</key>
                <string>{330,38}</string>
            </dict>
            <key>js_under.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,430},{49,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,32}}</string>
                <key>sourceSize</key>
                <string>{49,32}</string>
            </dict>
            <key>jzbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,485},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>jztx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{140,538}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{140,538}}</string>
                <key>sourceSize</key>
                <string>{140,610}</string>
            </dict>
            <key>prize-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,630},{104,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{104,70}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>prize-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,777},{89,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,80}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>prize-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,630},{104,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{104,70}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>prize-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,923},{98,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,88}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>prize-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,953},{66,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,81}}</string>
                <key>sourceSize</key>
                <string>{66,81}</string>
            </dict>
            <key>prize-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,868},{58,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,83}}</string>
                <key>sourceSize</key>
                <string>{58,83}</string>
            </dict>
            <key>prize-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,923},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>prize-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,923},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>prize-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,630},{89,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>prize-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,484},{89,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,81}}</string>
                <key>sourceSize</key>
                <string>{89,81}</string>
            </dict>
            <key>sc_role00.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,484},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>sc_role10.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,484},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>sc_role20.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,777},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>sc_role30.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,777},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>scrollcloak.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,122},{1,1}}</string>
                <key>offset</key>
                <string>{-79.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tp-bronze2.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,608},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>tp-gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,933},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>tp-silver2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,868},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-scroll.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c13cc45116448725bc2c127173799e28$</string>
            <key>textureFileName</key>
            <string>ui-scroll.png</string>
        </dict>
    </dict>
</plist>
