<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ayblade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,93}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{125,93}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>ayblade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{93,121}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,6},{93,121}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>ayblade3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{147,77}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{147,77}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>ayblade4.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,151},{111,89}}</string>
                <key>offset</key>
                <string>{-22,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{111,89}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>ayblade5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{59,95}}</string>
                <key>offset</key>
                <string>{-47,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,31},{59,95}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>ayblade6.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{45,25}}</string>
                <key>offset</key>
                <string>{-33,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,100},{45,25}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zblade11.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6748136068e2c62a52b168ff7df789a9$</string>
            <key>textureFileName</key>
            <string>zblade11.png</string>
        </dict>
    </dict>
</plist>
