<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>musashiblade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,95},{135,93}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,34},{135,93}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>musashiblade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{145,121}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{145,121}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>musashiblade3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,87}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{151,87}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>musashiblade4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{121,107}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{121,107}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>musashiblade5.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{91,99}}</string>
                <key>offset</key>
                <string>{-31,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{91,99}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zblade3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:170424c2ea6d618d52e54004cd7297e9$</string>
            <key>textureFileName</key>
            <string>zblade3.png</string>
        </dict>
    </dict>
</plist>
