<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girlblade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,95},{137,95}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,32},{137,95}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>girlblade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{145,121}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{145,121}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>girlblade3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,87}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{151,87}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>girlblade4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{123,107}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{123,107}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>girlblade5.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{91,99}}</string>
                <key>offset</key>
                <string>{-31,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{91,99}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zblade2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:779230d53ff604948971e8537bbd328b$</string>
            <key>textureFileName</key>
            <string>zblade2.png</string>
        </dict>
    </dict>
</plist>
