<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jgblade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{93,95}}</string>
                <key>offset</key>
                <string>{28,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,33},{93,95}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>jgblade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{97,91}}</string>
                <key>offset</key>
                <string>{27,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,7},{97,91}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>jgblade3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,61}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{135,61}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>jgblade4.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,160},{85,87}}</string>
                <key>offset</key>
                <string>{-34,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{85,87}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
            <key>jgblade5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{59,93}}</string>
                <key>offset</key>
                <string>{-45,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{59,93}}</string>
                <key>sourceSize</key>
                <string>{165,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zblade15.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2319528445f253afd408fdb050c080e6$</string>
            <key>textureFileName</key>
            <string>zblade15.png</string>
        </dict>
    </dict>
</plist>
