<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,538},{84,84}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,70},{84,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{70,90}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,64},{70,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{70,92}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,62},{70,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,58},{70,102}}</string>
                <key>offset</key>
                <string>{-14,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,52},{70,102}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{54,104}}</string>
                <key>offset</key>
                <string>{-15,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,50},{54,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{70,102}}</string>
                <key>offset</key>
                <string>{-14,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,52},{70,102}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,74},{68,102}}</string>
                <key>offset</key>
                <string>{-28,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,52},{68,102}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,74},{68,102}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,52},{68,102}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack17.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,198},{72,96}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,58},{72,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,488},{84,84}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,70},{84,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,444},{84,84}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,70},{84,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,538},{84,84}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,70},{84,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,390},{70,90}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,64},{70,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{66,92}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,62},{66,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,322},{66,92}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,62},{66,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,274},{66,92}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,62},{66,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_attack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,218},{66,92}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,62},{66,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,360},{82,88}}</string>
                <key>offset</key>
                <string>{11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,66},{82,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_die2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,230},{90,92}}</string>
                <key>offset</key>
                <string>{19,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,62},{90,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_die3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,272},{86,90}}</string>
                <key>offset</key>
                <string>{17,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,64},{86,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_die4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,144},{84,96}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,60},{84,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_die5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{84,70}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,89},{84,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_die6.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,530},{80,72}}</string>
                <key>offset</key>
                <string>{10,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,86},{80,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_die7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{84,70}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,89},{84,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_die8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{102,48}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,112},{102,48}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_fall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,418},{68,88}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,66},{68,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_fall10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{86,70}}</string>
                <key>offset</key>
                <string>{17,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,84},{86,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_fall11.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,368},{88,74}}</string>
                <key>offset</key>
                <string>{17,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,80},{88,74}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_fall12.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,444},{82,80}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,74},{82,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_fall13.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,462},{74,86}}</string>
                <key>offset</key>
                <string>{9,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,68},{74,86}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_fall14.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,342},{74,90}}</string>
                <key>offset</key>
                <string>{11,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,64},{74,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_fall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{68,96}}</string>
                <key>offset</key>
                <string>{-10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,58},{68,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_fall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{68,104}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,50},{68,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_fall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,114}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,40},{68,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_fall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{70,106}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,48},{70,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_fall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,130},{72,100}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,54},{72,100}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_fall7.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,100},{74,96}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,58},{74,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_fall8.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,526},{82,78}}</string>
                <key>offset</key>
                <string>{11,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,76},{82,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_fall9.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,286},{90,80}}</string>
                <key>offset</key>
                <string>{19,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,74},{90,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,144},{72,96}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,58},{72,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{74,96}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,58},{74,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>girl_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{72,96}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,58},{72,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zchar2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:652b2e77e734161327f03e29734e18f1$</string>
            <key>textureFileName</key>
            <string>zchar2.png</string>
        </dict>
    </dict>
</plist>
