<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,400},{58,84}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,70},{58,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,408},{62,84}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,70},{62,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,120},{66,90}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,64},{66,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,66},{52,96}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,58},{52,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{46,98}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,56},{46,98}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,50},{52,96}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,58},{52,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{52,90}}</string>
                <key>offset</key>
                <string>{-31,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,64},{52,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,256},{52,88}}</string>
                <key>offset</key>
                <string>{-8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,66},{52,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack17.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,356},{66,84}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,70},{66,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,310},{68,84}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,70},{68,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,264},{68,84}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,70},{68,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,424},{60,84}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,70},{60,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,334},{64,84}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,70},{64,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{58,84}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,70},{58,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{64,84}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,70},{64,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,380},{62,84}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,70},{62,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_attack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{58,84}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,70},{58,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,170},{84,88}}</string>
                <key>offset</key>
                <string>{11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,66},{84,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_die2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{86,92}}</string>
                <key>offset</key>
                <string>{16,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,62},{86,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_die3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,100},{88,90}}</string>
                <key>offset</key>
                <string>{18,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,64},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_die4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{88,96}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,61},{88,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_die5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,486},{80,64}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,94},{80,64}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_die6.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,334},{72,66}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,93},{72,66}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_die7.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,472},{80,64}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,94},{80,64}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_die8.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,170},{88,48}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,109},{88,48}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_fall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{64,86}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,68},{64,86}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_fall10.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,190},{88,72}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{88,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_fall11.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,68},{90,68}}</string>
                <key>offset</key>
                <string>{19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,86},{90,68}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_fall12.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,280},{84,74}}</string>
                <key>offset</key>
                <string>{15,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,80},{84,74}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_fall13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{78,78}}</string>
                <key>offset</key>
                <string>{11,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,76},{78,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_fall14.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,444},{78,80}}</string>
                <key>offset</key>
                <string>{13,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,74},{78,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_fall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,104},{64,94}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,60},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_fall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{64,102}}</string>
                <key>offset</key>
                <string>{-9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,52},{64,102}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_fall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,112}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,42},{64,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_fall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{62,100}}</string>
                <key>offset</key>
                <string>{-11,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,54},{62,100}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_fall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,138},{62,90}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,64},{62,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_fall7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{62,86}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,68},{62,86}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_fall8.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,260},{84,78}}</string>
                <key>offset</key>
                <string>{11,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,76},{84,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_fall9.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,202},{86,76}}</string>
                <key>offset</key>
                <string>{16,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,78},{86,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,340},{66,84}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,70},{66,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{72,84}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,70},{72,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>main_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,188},{70,88}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,66},{70,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zchar1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04427c5aa6ae5ca4370f9b8c8108a39d$</string>
            <key>textureFileName</key>
            <string>zchar1.png</string>
        </dict>
    </dict>
</plist>
