<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_attack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,166},{92,66}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,88},{92,66}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack010.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,638},{76,76}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,79},{76,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{70,72}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,82},{70,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,46},{104,58}}</string>
                <key>offset</key>
                <string>{-11,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,96},{104,58}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,70},{96,64}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,91},{96,64}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,410},{82,76}}</string>
                <key>offset</key>
                <string>{4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,79},{82,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,704},{68,72}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,82},{68,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,496},{82,62}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,92},{82,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack07.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,352},{88,68}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,86},{88,68}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack08.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,130},{96,62}}</string>
                <key>offset</key>
                <string>{-14,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,92},{96,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{90,64}}</string>
                <key>offset</key>
                <string>{-7,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,91},{90,64}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,560},{64,80}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,74},{64,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,494},{64,82}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,72},{64,82}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,624},{72,74}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,80},{72,74}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{54,96}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,58},{54,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,106},{52,98}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,56},{52,98}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,136},{54,96}}</string>
                <key>offset</key>
                <string>{-18,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,58},{54,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,234},{54,92}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,62},{54,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,354},{54,88}}</string>
                <key>offset</key>
                <string>{-18,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,66},{54,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{74,78}}</string>
                <key>offset</key>
                <string>{-3,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,76},{74,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,478},{64,82}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,72},{64,82}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,558},{64,80}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,74},{64,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,556},{64,80}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,74},{64,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,428},{64,82}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,72},{64,82}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,544},{66,80}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,74},{66,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,412},{64,82}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,72},{64,82}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,490},{66,80}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,74},{66,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_attack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,488},{66,80}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,74},{66,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,286},{88,86}}</string>
                <key>offset</key>
                <string>{15,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,68},{88,86}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_die2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,194},{92,90}}</string>
                <key>offset</key>
                <string>{19,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,64},{92,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_die3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{94,88}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,66},{94,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_die4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,192},{92,94}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,62},{92,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_die5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,374},{88,52}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,106},{88,52}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_die6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,410},{78,56}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,100},{78,56}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_die7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,358},{88,52}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,106},{88,52}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_die8.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{106,42}}</string>
                <key>offset</key>
                <string>{-13,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,117},{106,42}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_fall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,290},{62,88}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,66},{62,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_fall10.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,160},{94,62}}</string>
                <key>offset</key>
                <string>{18,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,92},{94,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_fall11.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{88,68}}</string>
                <key>offset</key>
                <string>{18,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,86},{88,68}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_fall12.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,422},{86,72}}</string>
                <key>offset</key>
                <string>{16,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,82},{86,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_fall13.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,612},{78,72}}</string>
                <key>offset</key>
                <string>{11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,82},{78,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_fall14.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,686},{72,76}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,78},{72,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_fall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{66,96}}</string>
                <key>offset</key>
                <string>{-10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,58},{66,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_fall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{66,106}}</string>
                <key>offset</key>
                <string>{-10,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,48},{66,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_fall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,114}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,40},{66,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_fall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{64,106}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,48},{64,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_fall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{64,94}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,60},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_fall7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,290},{66,88}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,66},{66,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_fall8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{88,66}}</string>
                <key>offset</key>
                <string>{15,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,88},{88,66}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_fall9.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,224},{92,64}}</string>
                <key>offset</key>
                <string>{19,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,90},{92,64}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,626},{76,78}}</string>
                <key>offset</key>
                <string>{-5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,76},{76,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{74,80}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,74},{74,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,560},{76,78}}</string>
                <key>offset</key>
                <string>{-5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,76},{76,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{86,66}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,88},{86,66}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,68},{100,60}}</string>
                <key>offset</key>
                <string>{-13,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,94},{100,60}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,286},{90,64}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,91},{90,64}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,622},{74,76}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,79},{74,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,92},{70,72}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,82},{70,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cat_run9.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,496},{82,62}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,92},{82,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zchar4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8967c764e41934355502dea00872989d$</string>
            <key>textureFileName</key>
            <string>zchar4.png</string>
        </dict>
    </dict>
</plist>
