<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_yyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,135},{126,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,131}}</string>
                <key>sourceSize</key>
                <string>{128,131}</string>
            </dict>
            <key>tx_yyz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{121,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,131}}</string>
                <key>sourceSize</key>
                <string>{121,131}</string>
            </dict>
            <key>tx_yyz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{126,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,131}}</string>
                <key>sourceSize</key>
                <string>{128,131}</string>
            </dict>
            <key>tx_yyz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{126,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,131}}</string>
                <key>sourceSize</key>
                <string>{128,131}</string>
            </dict>
            <key>tx_yyz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,131}}</string>
                <key>sourceSize</key>
                <string>{128,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zsp1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb125038b8aa6085fd09bb230a9ce97b$</string>
            <key>textureFileName</key>
            <string>zsp1.png</string>
        </dict>
    </dict>
</plist>
