<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floatGun/dead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,83}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,38},{81,83}}</string>
                <key>sourceSize</key>
                <string>{237,213}</string>
            </dict>
            <key>floatGun/dead_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{81,83}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,38},{81,83}}</string>
                <key>sourceSize</key>
                <string>{237,213}</string>
            </dict>
            <key>floatGun/dead_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{81,83}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,37},{81,83}}</string>
                <key>sourceSize</key>
                <string>{237,213}</string>
            </dict>
            <key>floatGun/dead_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{81,83}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,36},{81,83}}</string>
                <key>sourceSize</key>
                <string>{237,213}</string>
            </dict>
            <key>floatGun/dead_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{81,83}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,34},{81,83}}</string>
                <key>sourceSize</key>
                <string>{237,213}</string>
            </dict>
            <key>floatGun/dead_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{81,83}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,30},{81,83}}</string>
                <key>sourceSize</key>
                <string>{237,213}</string>
            </dict>
            <key>floatGun/dead_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{70,73}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,75},{70,73}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
            <key>floatGun/dead_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{112,111}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,52},{112,111}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
            <key>floatGun/dead_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{92,99}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,59},{92,99}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
            <key>floatGun/dead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{120,131}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,45},{120,131}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
            <key>floatGun/dead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{148,145}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,36},{148,145}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
            <key>floatGun/dead_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{224,195}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{224,195}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
            <key>floatGun/dead_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{258,199}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{258,199}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
            <key>floatGun/dead_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{272,215}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{272,215}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
            <key>floatGun/dead_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{284,223}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{284,223}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
            <key>floatGun/dead_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,219},{292,229}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{292,229}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
            <key>floatGun/dead_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,219},{296,239}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{296,239}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
            <key>floatGun/dead_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,219},{300,247}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{300,247}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
            <key>floatGun/dead_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,219},{304,259}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{304,259}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
            <key>floatGun/dead_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,219},{312,281}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{312,281}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
            <key>floatGun/dead_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,219},{240,231}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,6},{240,231}}</string>
                <key>sourceSize</key>
                <string>{318,289}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fuyoupao_dead.png</string>
            <key>size</key>
            <string>{2044,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:308f4eabe1397ea71cbd5f00ea7b8b8e:bbf5f5448044c5a576b34297fc13bd2b:d37a337003ac3e2ae0735e9bf63411f2$</string>
            <key>textureFileName</key>
            <string>fuyoupao_dead.png</string>
        </dict>
    </dict>
</plist>
