<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floatGun/attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{82,82}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{82,82}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>floatGun/attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{86,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{86,88}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>floatGun/attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{104,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{104,104}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>floatGun/attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,144}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>floatGun/attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{142,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,144}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>floatGun/attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{138,138}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{138,138}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>floatGun/attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{114,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{114,116}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>floatGun/attack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,656},{52,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,47},{52,52}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>floatGun/attack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{82,82}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{82,82}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fuyoupao_attack.png</string>
            <key>size</key>
            <string>{146,828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7873e471c10082c1380d00e9d754540e:c6863462ab9e88203420495b5bd988ab:4c8a9bab1a16cabb80497326b730a170$</string>
            <key>textureFileName</key>
            <string>fuyoupao_attack.png</string>
        </dict>
    </dict>
</plist>
