<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>littleboss/bigbeem_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,68}}</string>
                <key>offset</key>
                <string>{0,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,6},{108,68}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{136,282}}</string>
                <key>offset</key>
                <string>{3,222}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,7},{136,282}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{294,480}}</string>
                <key>offset</key>
                <string>{-1,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{294,480}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{112,724}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,6},{112,724}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{118,724}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,6},{118,724}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{116,724}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,6},{116,724}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{114,724}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,6},{114,724}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{120,724}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,6},{120,724}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{134,724}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,6},{134,724}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,728},{140,724}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,6},{140,724}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,728},{146,706}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,18},{146,706}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,728},{162,722}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,6},{162,722}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{90,720}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,8},{90,720}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,728},{140,726}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,9},{140,726}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,728},{144,718}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,12},{144,718}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
            <key>littleboss/bigbeem_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,728},{170,672}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,19},{170,672}}</string>
                <key>sourceSize</key>
                <string>{302,740}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigbeem.png</string>
            <key>size</key>
            <string>{1052,1938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:416395ea964125e8e7d7b27ccef191df:b7e399b9cd00553fe6ce427148a6d303:643e26b8c074db56cd3a36bc5d89f023$</string>
            <key>textureFileName</key>
            <string>bigbeem.png</string>
        </dict>
    </dict>
</plist>
