<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>little_boss/stand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{290,215}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{290,215}}</string>
                <key>sourceSize</key>
                <string>{322,233}</string>
            </dict>
            <key>little_boss/stand_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,219},{292,215}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{292,215}}</string>
                <key>sourceSize</key>
                <string>{322,233}</string>
            </dict>
            <key>little_boss/stand_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,219},{292,215}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{292,215}}</string>
                <key>sourceSize</key>
                <string>{322,233}</string>
            </dict>
            <key>little_boss/stand_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,211}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{292,211}}</string>
                <key>sourceSize</key>
                <string>{322,233}</string>
            </dict>
            <key>little_boss/stand_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{292,213}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{292,213}}</string>
                <key>sourceSize</key>
                <string>{322,233}</string>
            </dict>
            <key>little_boss/stand_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{296,211}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{296,211}}</string>
                <key>sourceSize</key>
                <string>{322,233}</string>
            </dict>
            <key>little_boss/stand_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,219},{296,217}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{296,217}}</string>
                <key>sourceSize</key>
                <string>{322,233}</string>
            </dict>
            <key>little_boss/stand_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{294,215}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{294,215}}</string>
                <key>sourceSize</key>
                <string>{322,233}</string>
            </dict>
            <key>little_boss/stand_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{290,215}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{290,215}}</string>
                <key>sourceSize</key>
                <string>{322,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_stand.png</string>
            <key>size</key>
            <string>{1184,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dafee1109c5af446cd0fb4da99b0cd81:b05d753baaf3ec2bfe1579b4b7444d40:ed168edd9416719cde57c332cf940232$</string>
            <key>textureFileName</key>
            <string>boss_stand.png</string>
        </dict>
    </dict>
</plist>
