<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>little_boss/wounded_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{291,216}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,83},{291,216}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{237,242}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,57},{237,242}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,456},{201,254}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,45},{201,254}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{199,268}}</string>
                <key>offset</key>
                <string>{-24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,31},{199,268}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,722},{195,274}}</string>
                <key>offset</key>
                <string>{-31,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,25},{195,274}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,722},{191,274}}</string>
                <key>offset</key>
                <string>{-38,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,25},{191,274}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,722},{193,272}}</string>
                <key>offset</key>
                <string>{-41,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,27},{193,272}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,722},{195,270}}</string>
                <key>offset</key>
                <string>{-43,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,29},{195,270}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,722},{197,268}}</string>
                <key>offset</key>
                <string>{-45,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,31},{197,268}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,456},{201,264}}</string>
                <key>offset</key>
                <string>{-45,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{201,264}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,456},{211,258}}</string>
                <key>offset</key>
                <string>{-46,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,41},{211,258}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,456},{219,250}}</string>
                <key>offset</key>
                <string>{-47,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{219,250}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,220},{223,228}}</string>
                <key>offset</key>
                <string>{-47,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,73},{223,228}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,220},{207,234}}</string>
                <key>offset</key>
                <string>{-31,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,65},{207,234}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,220},{213,232}}</string>
                <key>offset</key>
                <string>{-19,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,67},{213,232}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{213,220}}</string>
                <key>offset</key>
                <string>{-11,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,79},{213,220}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,220},{237,220}}</string>
                <key>offset</key>
                <string>{7,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,79},{237,220}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{257,214}}</string>
                <key>offset</key>
                <string>{18,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,85},{257,214}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{275,214}}</string>
                <key>offset</key>
                <string>{23,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,85},{275,214}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{283,216}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,83},{283,216}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
            <key>little_boss/wounded_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{291,216}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,83},{291,216}}</string>
                <key>sourceSize</key>
                <string>{365,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_wounded.png</string>
            <key>size</key>
            <string>{1184,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f966f2cf4a83a10c34a6699a9f593797:d3aa2aedb179189bc31095dfb2088f4d:11405db1c6b6f9df149cd8cd3148bf13$</string>
            <key>textureFileName</key>
            <string>boss_wounded.png</string>
        </dict>
    </dict>
</plist>
